@charset "UTF-8";
/* CSS Document */
html {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
/*Banner-location*/
p {
	margin-bottom: 150px;
}

/*Navigation-bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dodgerblue;
	outline-color:aliceblue;
	outline-style:outset;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration:none;
}

li a:hover {
    background-color:deepskyblue;
}

/*Banner and Content*/
#Banner {
	width: 80%;
	height: 220px;

	
}
#names {
	float: right;
	font-size: 12px	
}
@keyframes bgcolor {
    0%   {
        background-color: rgba(154,205,255,1.00);
    } 
	25% {
		background-color: rgba(88,172,255,0.93);
	}
	50% {
        background-color: rgba(30,144,255,0.87);
    }
	75% {
		background-color: rgba(30,144,255,1.00);
	}
	100% {
		background-color: rgba(30,144,255,0.84);
	}
}
body {
    animation: bgcolor ease 30s infinite;

}
